* {
    font-family:  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form {
    background-color: rgb(220, 214, 205);
    width: 623px;
    height: 782px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px rgb(220, 214, 205);
    box-sizing: border-box;
}

.first {
    display: inline-block;
    margin: 13px 13px 0 13px;
    padding: 10px 0 0 10px;
    border-radius: 2px;
    height: 43px;
    background-color: rgb(147, 140, 151);
    box-sizing: border-box;
    width: 285px;
    color: white;
}

 div.bigright {
    margin-top: 0px;
    float: right;
    padding-left: 13px;
    height: 360px;
    width: 50%;
    box-sizing: border-box;
}

div.bigleft {
    padding-left: 13px;
    margin-top: 0px;
    float: left;
    height: 360px;
    width: 50%;
    box-sizing: border-box;
}

div.black {
    margin: 0;
    float: left;
    height: 42px;
    width: 138px;
}

div.black2 {
    margin: 0;
    float: right;
    height: 42px;
    width: 138px;
}

div.black3 {
    margin: 10px 0 0 0;
    display: inline-block;
    height: 147px;
    width: 99%;
    font-size: 12px;
}

.last {
    margin-top: 4px;
    margin-left: 13px;
    display: inline-block;
    height: 150px;
    width: 500px;
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: auto;
}

h1 {
    font-size: 16px;
    margin: 0 0 0 13px;
    color: rgb(76, 66, 97);
    padding-top: 15px;
}

input[type="tel"], input[type="email"], input[type="url"], select[name="select"], input[type="text"] {
    padding: 10px;
    width: 264px;
    height: 15px;
    border: 1px rgb(147, 140, 151) solid;
    border-radius: 2px;
    font-size: 12px;
}

label[for="tel"], label[for="url"], label[for="email"], 
label[for="text"], label[for="mark"], label[for="bemutatkozas"], select {
    font-size: 12px;
    font-weight: bold;
    color: rgb(76, 66, 97);
}

input[id="born"] {
    width: 50px;
    height: 15px;
}

label[for="textgirl"], label[for="textboy"] {
    display: inline-block;
    font-size: 12px;
    margin: 0 25px 0 0;
    color: rgb(76, 66, 97);
}

label[for="textboy"] {
    display: inline-block;
    font-size: 12px;
    margin: 0 0 0 0;
    color: rgb(76, 66, 97);
}

input[type="radio"] {
    display: inline-block;
    margin: 16px 0 0 0;
}

.checkbox2 {
   display: inline-block;
   margin-top: 39px;
   font-size: 12px;
   color: rgb(76, 66, 97);
}

.checkbox1 {
   float: left;
   margin-top: 20px;
   font-size: 12px;
   color: rgb(76, 66, 97);
}

.choose {
    margin-top: 13px;
    font-size: 10px;
    color: rgb(147, 140, 151);
}

.star {
    color: red;
}

input[id="bemutat"] {
    width: 575px;
    height: 100px;
    border: 1px rgb(76, 66, 97) solid;
    border-radius: 2px;
}

label[name="cv"] {
    margin: 8px 0 0 13px;
}

#filechoose {
    background-color: rgb(247, 247, 247);
    border-radius: 2px;
    margin: 0 0 0 13px;
    border: 1px rgb(76, 66, 97) solid;
    width: 170px;
    height: 30px;
    font-size: 10px;
}

.feltetel {
    margin: 20px 0 0 10px;
    font-size: 10px;
    color: rgb(76, 66, 97);
}

.ifline {
    color: rgb(147, 140, 151);
    text-decoration-line: underline;
}

.save {
    width: 170px;
    height: 37px;
    margin: 20px 0 0 13px;
    background-color: rgb(76, 66, 97);
    border: none;
    color:  rgb(220, 214, 205);
    font-size: 14px;
    display: inline-block;
}

.delete {
    background-color: rgb(247, 247, 247);
    border-radius: 2px;
    margin: 0 0 0 274px;
    border: 1px rgb(76, 66, 97) solid;
    width: 150px;
    height: 37px;
    font-size: 14px;
}