.big {
    color: blue;
}

p.asteroid {
    background: yellow;
    width: 250px;
}

#b325, .b326, .b329 {
    font-weight: bold;
}

#b325, .b326 {
    border: 1px green;
    border-style: solid;
    width: 250px;
}


