p {
    padding: 20px 20px 0px 20px;
    font-size: 18px;
    border-bottom: 2px black;
    border-left: 2px black;
    border-right: 2px black;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    width: 340px;
    margin: 0;
}

div :last-child {
    border-bottom: 2px white;
}

p:hover {
    background-color: rgb(255, 99, 71);
}
