nav {
	width: 100%;
	padding: 0;
    background-color: rgb(50, 50, 50);
    height: 50px;
    position: fixed;
}

a {
    color: grey;
}

a:hover {
    color: white;
}

li {
    display: inline;
    list-style: none;
    padding: 0 10px;
}

ul {
    padding: 15px;
    margin: 0;
    list-style: none;
}

body {
    margin: 0;
}


