body {
    margin: 20px 50px 20px 50px; 
}

.header {
    width: 1200px;
    height: 78px;
    background: #2aeaff;
    
}

.wrapper {
    width: 1200;
    height: 620px;
    display: flex;
    align-items: flex-start;
}

.main_content {
    min-width: 600px;
    height: 100%;
    background: #fe0000;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}
    
.sidebar {
    min-width: 280px;
    height: 100%;
}
.left {
    margin-right: 20px;
    background: #51d400;
}

.right {
    margin-left: 20px;
    background: #fea500;
}

.black {
    height: 50px;
    width: 50px;
    background: #000;
    margin: 0 20px 20px 0;
}

.footer {
    width: 1200px;
    height: 78px;
    background: #0000fe;
}

